Checks: '*,
    -llvm-*,
    -llvmlibc-*,
    -fuchsia-*,
    -cppcoreguidelines-*,
    cppcoreguidelines-explicit-virtual-functions,
    cppcoreguidelines-special-member-functions,
    -cert-err58-cpp,
    -cert-env33-c,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity,
    -misc-no-recursion,
    -bugprone-exception-escape,
'
WarningsAsErrors: '*'
